.gantt-chart .fc {
    background-color: white !important;
}

.gantt-chart .fc-header-toolbar {
    height : 55px !important;
}


.gantt-chart .fc-toolbar-chunk {
    width : auto !important;
    white-space: nowrap !important;
}

.gantt-chart .fc-timeline-event {
    border-radius: 8px;
    margin-top : 5px;
}

.gantt-chart .fc-resourceTimelineMonth-button {
    margin: 0 2px 0 -8px !important;
    background-color: #ffffff !important;
    border-color: #d9d9d9 !important;
    border-radius: 3px !important;
    color: #757575 !important;
    font-size : small !important;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.05);
}

.gantt-chart .fc-resourceTimelineYear-button {
    background-color: #ffffff !important;
    border-color: #d9d9d9 !important;
    border-radius: 3px !important;
    color: #757575 !important;
    margin-right: 10px !important;
    font-size : small !important;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.05);
}

.gantt-chart .fc-today-button {
    height: 37px !important;
    margin-right: 15px !important;
    color: #757575 !important;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.05) !important;

}

.gantt-chart .fc-prev-button {
    margin : 10px 2px 0 0 !important;
    width: 37px !important;
    height: 37px !important;
    background-color: white !important;
    border-color: #d9d9d9 !important;
    color: #757575 !important;
    border-radius: 3px !important;
    font-size: x-small !important;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.05);
}

.gantt-chart .fc-next-button {
    margin : 10px 4px 0 0 !important;
    width: 37px !important;
    height: 37px !important;
    background-color: white !important;
    border-color: #d9d9d9 !important;
    color: #757575 !important;
    border-radius: 3px !important;
    font-size: x-small !important;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.05);
}


.gantt-chart .fc-timeline-header-row {
    font-size: small;
}


.gantt-chart .fc .fc-timeline-slot-cushion {
    white-space: normal;

}

.gantt-chart .fc .fc-timeline-slot-cushion {
    margin : 5px;
}


.gantt-chart .fc-timeline-body .today-highlight {
     border-left : 2px dotted #ffcd00;
}



.gantt-chart .fc .fc-datagrid-header .fc-datagrid-cell-frame{ /* 프로젝트명 */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size : 14px;
}

.gantt-chart .fc-timeline-header-row {
    margin : 2px !important;
    font-size : 10px !important;

}


.gantt-chart .fc-timeline-header-row .today-highlight {
    background-color: #ffcd00;
    color: white;
    border-radius: 10px 10px 0 0 !important;

}


/*
.today-highlight {
    background-color: yellow !important;
}

*/

/* 내부 격자무늬 -> .gantt-chart .fc-direction-ltr .fc-timeline-slot  */
.gantt-chart .fc .fc-timeline-header-row .fc-timeline-slot {
    border-right-style : hidden !important;
}

.gantt-chart .fc-theme-standard td { /* 리소스명 */
    font-size: 12px;
}


