.calendar .fc {
    background-color: white !important;
}

.calendar .fc-toolbar h2 {
    display: inline !important;
}

.calendar .fc .fc-daygrid-day-number {
    margin-right: 2px !important;
    font-size: small !important;
}

.calendar .fc .fc-daygrid-day.fc-day-today {
    background-color: transparent !important;

    .fc-daygrid-day-number {
        font-weight: bold !important;
    }
}

.calendar .fc-toolbar-chunk {
    white-space: nowrap !important;



}

.calendar .fc-todayButton-button {
    background-color: #ffffff !important;
    border-color: #d9d9d9 !important;
    border-radius: 3px !important;
    width: 66px !important;
    height: 28px !important;
    color: black !important;;
    font-size: small !important;
    margin: 2px 15px 7px 0 !important;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.05);
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.calendar .fc-prev-button {
    margin: 0 6px 9px 0 !important;
    width: 26px !important;
    height: 26px !important;
    background-color: #F8F8F8 !important;
    border-color: #d5d5d5 !important;
    color: #757575 !important;
    border-radius: 5px !important;
    font-size: x-small !important;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.05);
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;


}

.calendar .fc-toolbar-title {

    font-size: 22px !important;
    margin: 2% !important;
}

.calendar .fc-event-main {
    height : 20px !important;
}

.calendar .fc-event-time {
    font-weight: normal !important;
    font-size: 12px !important;
}

.calendar .fc-event-title {
    font-size : 12px !important;
}


.calendar .fc-next-button {
    margin: 0 0 9px 5px !important;
    width: 26px !important;
    height: 26px !important;
    background-color: #F8F8F8 !important;
    border-color: #d5d5d5 !important;
    color: #757575 !important;
    border-radius: 5px !important;
    font-size: x-small !important;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.05);
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;

}





.calendar .fc-addEventButton-button {
    margin: 2px 13px 0 -5px !important;
    background-color: #ffcd00 !important;
    opacity: 0.6;
    background-image: url('../_assets/Icons/plusEvent.svg');
    background-repeat : no-repeat;
    background-position: center center !important;
    border: none !important;
    width: 26px !important;
    height: 28px !important;
    color: white !important;;
    font-size: 22px !important;
    border-radius: 50% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.calendar .fc-header-toolbar {
    height: 30px !important;
}


.calendar .fc .fc-toolbar.fc-header-toolbar {
    padding: 3% 0 0 2% !important;

}

.calendar .fc th {
    border-top: 1px solid #d9d9d9 !important;
}

{ /* 캘린더 오른쪽 선 */ }
.calendar .fc-theme-standard td, .fc-theme-standard th {
    border-right-style: hidden !important;
}

{ /* 캘린더 아래쪽 선 */ }
.calendar .fc-theme-standard td {
    border-bottom-style: hidden !important;
}

{ /* 내부 격자 */ }
.calendar .fc .fc-daygrid-day {
    border: 0.5px solid #d9d9d9 !important;
}

{ /* 테두리 */ }
.calendar .fc .fc-scrollgrid {
    border: none !important;
}

{ /* 컨테이너 */ }
.calendar .fc {
    border: none !important;
    border-radius: 10px !important;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.05) !important;
}

.calendar .fc .fc-daygrid-more-link {
    border-radius: 6px !important;
    color: #848484;
}

.calendar .more-events-link::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ffcd00;
    margin: 0 5px 3px 3px;
    vertical-align: middle;
}

.calendar .fc-event {
    margin: 0 7px 0 7px !important;
}


.calendar .fc .fc-col-header-cell-cushion {
    font-weight: normal;
    margin : 3px 0 3px 0;
    font-size : 12px;
}



