.MinutesCalendar .fc {
    background-color: white !important;
}

.MinutesCalendar .fc-toolbar h2 {
    display: inline !important;
}

.MinutesCalendar .fc .fc-daygrid-day-number {
    margin-right: 2px !important;
    font-size: small !important;
}

.MinutesCalendar .fc .fc-daygrid-day.fc-day-today {
    background-color: transparent !important;

    .fc-daygrid-day-number {
        font-weight: bold !important;
    }
}

.MinutesCalendar .fc-toolbar-chunk {
    white-space: nowrap !important;
}


.MinutesCalendar .fc-prev-button {
    outline: none !important;
    margin: 0 6px 9px 0 !important;
    width: 26px !important;
    height: 26px !important;
    background-color: #F8F8F8 !important;
    border-color: #d5d5d5 !important;
    color: #757575 !important;
    border-radius: 5px !important;
    font-size: x-small !important;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.05);
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;

}

.MinutesCalendar .fc-toolbar-title {
    font-size: 22px !important;
    margin: 2% !important;
}

.MinutesCalendar .fc-event-main {
    height : 15px !important;
    text-align: center !important;
}

.MinutesCalendar .fc-event-time {
    font-weight: normal !important;
    margin : auto !important;
    font-size: 8px !important;
}

.MinutesCalendar .fc-event-title {
    margin : auto !important;
    font-size : 8px !important;
}


.MinutesCalendar .fc-next-button {
    margin: 0 0 9px 5px !important;
    width: 26px !important;
    height: 26px !important;
    background-color: #F8F8F8 !important;
    border-color: #d5d5d5 !important;
    color: #757575 !important;
    border-radius: 5px !important;
    font-size: x-small !important;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.05);
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;

}


.MinutesCalendar .fc-addEventButton-button {
    margin: 2px 13px 0 -5px !important;
    background-color: #D2FA64 !important;
    border: #D2FA64 !important;
    border-radius: 3px !important;
    width: 86px !important;
    height: 30px !important;
    color: #000000 !important;;
    font-size: 12px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.MinutesCalendar .fc-header-toolbar {
    height: 36px !important;
}


.MinutesCalendar .fc .fc-toolbar.fc-header-toolbar {
    padding: 3% 0 0 2% !important;

}

.MinutesCalendar .fc th {
    border-top: 1px solid #d9d9d9 !important;
}

{ /* 캘린더 오른쪽 선 */ }
.MinutesCalendar .fc-theme-standard td, .fc-theme-standard th {
    border-right-style: hidden !important;
}

{ /* 캘린더 아래쪽 선 */ }
.MinutesCalendar .fc-theme-standard td {
    border-bottom-style: hidden !important;
}

{ /* 내부 격자 */ }
.MinutesCalendar .fc .fc-daygrid-day {
    border: 0.5px solid #d9d9d9 !important;
}

{ /* 테두리 */ }
.MinutesCalendar .fc .fc-scrollgrid {
    border: none !important;
}

{ /* 컨테이너 */ }
.MinutesCalendar .fc {
    border: none !important;
    border-radius: 10px !important;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.05) !important;
}

{/* 그 외 n개 */}
.MinutesCalendar .fc .fc-daygrid-more-link {
    border-radius: 6px !important;
    font-size: 10px;
    color: #848484;
    margin : 3px 0 -1px 0;
}

.MinutesCalendar .more-events-link::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #AEE516;
    margin: 0 5px 3px 4px;
    vertical-align: middle;
}

.MinutesCalendar .fc-event {
    margin: 0 7px 0 7px !important;
}


.MinutesCalendar .fc .fc-col-header-cell-cushion {
    font-weight: normal;
    margin : 4px 0 4px 0;
    font-size : 12px;
}

.MinutesCalendar .fc-when2meetButton-button {
    background-color: #000000 !important;
    background-image: url('../_assets/Icons/plusEvent.svg');
    background-repeat : no-repeat;
    background-position: center center !important;
    border: none !important;
    width: 32px !important;
    height: 33px !important;
    border-radius: 50% !important;
    margin-right : 15px !important;
}

/* 그 외 n개 */
.MinutesCalendar .fc-theme-standard .fc-popover {
    border-radius: 3px !important;
}

.MinutesCalendar .fc .fc-popover-title {
    font-size : 12px !important;
}

.MinutesCalendar .fc .fc-more-popover-misc {
    display: none !important;
}

.MinutesCalendar .fc-daygrid-event-harness {
    margin-bottom: 3px !important;
}


.MinutesCalendar .fc-todayButton-button {
    background-color: #ffffff !important;
    border-color: #000000 !important;
    border-radius: 3px !important;
    width: 72px !important;
    height: 30px !important;
    color: #000000 !important;;
    font-size: small !important;
    margin: 2px 15px 7px 0 !important;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.05);
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
}